body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:710px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2133_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u2133 {
  border-width:0px;
  position:absolute;
  left:4px;
  top:27px;
  width:40px;
  height:40px;
  font-size:16px;
  color:#FF3399;
}
#u2133_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:36px;
  word-wrap:break-word;
}
#u2134_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2134 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:39px;
  width:113px;
  height:16px;
}
#u2134_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u2135 {
  border-width:0px;
  position:absolute;
  left:185px;
  top:98px;
  width:525px;
  height:963px;
}
#u2136_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:33px;
}
#u2136 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:33px;
  font-size:14px;
}
#u2136_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:219px;
  word-wrap:break-word;
}
#u2137_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:33px;
}
#u2137 {
  border-width:0px;
  position:absolute;
  left:223px;
  top:0px;
  width:302px;
  height:33px;
  font-size:14px;
}
#u2137_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:298px;
  word-wrap:break-word;
}
#u2138_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:30px;
}
#u2138 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:33px;
  width:223px;
  height:30px;
  font-size:14px;
}
#u2138_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:219px;
  word-wrap:break-word;
}
#u2139_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:30px;
}
#u2139 {
  border-width:0px;
  position:absolute;
  left:223px;
  top:33px;
  width:302px;
  height:30px;
  font-size:14px;
}
#u2139_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:298px;
  word-wrap:break-word;
}
#u2140_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:30px;
}
#u2140 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:63px;
  width:223px;
  height:30px;
  font-size:14px;
}
#u2140_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:219px;
  word-wrap:break-word;
}
#u2141_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:30px;
}
#u2141 {
  border-width:0px;
  position:absolute;
  left:223px;
  top:63px;
  width:302px;
  height:30px;
  font-size:14px;
}
#u2141_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:298px;
  word-wrap:break-word;
}
#u2142_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:30px;
}
#u2142 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:93px;
  width:223px;
  height:30px;
  font-size:14px;
}
#u2142_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:219px;
  word-wrap:break-word;
}
#u2143_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:30px;
}
#u2143 {
  border-width:0px;
  position:absolute;
  left:223px;
  top:93px;
  width:302px;
  height:30px;
  font-size:14px;
}
#u2143_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:298px;
  word-wrap:break-word;
}
#u2144_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:30px;
}
#u2144 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:123px;
  width:223px;
  height:30px;
  font-size:14px;
}
#u2144_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:219px;
  word-wrap:break-word;
}
#u2145_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:30px;
}
#u2145 {
  border-width:0px;
  position:absolute;
  left:223px;
  top:123px;
  width:302px;
  height:30px;
  font-size:14px;
}
#u2145_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:298px;
  word-wrap:break-word;
}
#u2146_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:30px;
}
#u2146 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:153px;
  width:223px;
  height:30px;
  font-size:14px;
}
#u2146_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:219px;
  word-wrap:break-word;
}
#u2147_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:30px;
}
#u2147 {
  border-width:0px;
  position:absolute;
  left:223px;
  top:153px;
  width:302px;
  height:30px;
  font-size:14px;
}
#u2147_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:298px;
  word-wrap:break-word;
}
#u2148_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:30px;
}
#u2148 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:183px;
  width:223px;
  height:30px;
  font-size:14px;
}
#u2148_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:219px;
  word-wrap:break-word;
}
#u2149_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:30px;
}
#u2149 {
  border-width:0px;
  position:absolute;
  left:223px;
  top:183px;
  width:302px;
  height:30px;
  font-size:14px;
}
#u2149_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:298px;
  word-wrap:break-word;
}
#u2150_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:30px;
}
#u2150 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:213px;
  width:223px;
  height:30px;
  font-size:14px;
}
#u2150_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:219px;
  word-wrap:break-word;
}
#u2151_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:30px;
}
#u2151 {
  border-width:0px;
  position:absolute;
  left:223px;
  top:213px;
  width:302px;
  height:30px;
  font-size:14px;
}
#u2151_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:298px;
  word-wrap:break-word;
}
#u2152_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:30px;
}
#u2152 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:243px;
  width:223px;
  height:30px;
  font-size:14px;
}
#u2152_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:219px;
  word-wrap:break-word;
}
#u2153_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:30px;
}
#u2153 {
  border-width:0px;
  position:absolute;
  left:223px;
  top:243px;
  width:302px;
  height:30px;
  font-size:14px;
}
#u2153_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:298px;
  word-wrap:break-word;
}
#u2154_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:30px;
}
#u2154 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:273px;
  width:223px;
  height:30px;
  font-size:14px;
}
#u2154_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:219px;
  word-wrap:break-word;
}
#u2155_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:30px;
}
#u2155 {
  border-width:0px;
  position:absolute;
  left:223px;
  top:273px;
  width:302px;
  height:30px;
  font-size:14px;
}
#u2155_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:298px;
  word-wrap:break-word;
}
#u2156_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:30px;
}
#u2156 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:303px;
  width:223px;
  height:30px;
  font-size:14px;
}
#u2156_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:219px;
  word-wrap:break-word;
}
#u2157_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:30px;
}
#u2157 {
  border-width:0px;
  position:absolute;
  left:223px;
  top:303px;
  width:302px;
  height:30px;
  font-size:14px;
}
#u2157_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:298px;
  word-wrap:break-word;
}
#u2158_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:30px;
}
#u2158 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:333px;
  width:223px;
  height:30px;
  font-size:14px;
}
#u2158_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:219px;
  word-wrap:break-word;
}
#u2159_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:30px;
}
#u2159 {
  border-width:0px;
  position:absolute;
  left:223px;
  top:333px;
  width:302px;
  height:30px;
  font-size:14px;
}
#u2159_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:298px;
  word-wrap:break-word;
}
#u2160_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:30px;
}
#u2160 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:363px;
  width:223px;
  height:30px;
  font-size:14px;
}
#u2160_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:219px;
  word-wrap:break-word;
}
#u2161_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:30px;
}
#u2161 {
  border-width:0px;
  position:absolute;
  left:223px;
  top:363px;
  width:302px;
  height:30px;
  font-size:14px;
}
#u2161_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:298px;
  word-wrap:break-word;
}
#u2162_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:30px;
}
#u2162 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:393px;
  width:223px;
  height:30px;
  font-size:14px;
}
#u2162_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:219px;
  word-wrap:break-word;
}
#u2163_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:30px;
}
#u2163 {
  border-width:0px;
  position:absolute;
  left:223px;
  top:393px;
  width:302px;
  height:30px;
  font-size:14px;
}
#u2163_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:298px;
  word-wrap:break-word;
}
#u2164_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:30px;
}
#u2164 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:423px;
  width:223px;
  height:30px;
  font-size:14px;
}
#u2164_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:219px;
  word-wrap:break-word;
}
#u2165_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:30px;
}
#u2165 {
  border-width:0px;
  position:absolute;
  left:223px;
  top:423px;
  width:302px;
  height:30px;
  font-size:14px;
}
#u2165_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:298px;
  word-wrap:break-word;
}
#u2166_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:30px;
}
#u2166 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:453px;
  width:223px;
  height:30px;
  font-size:14px;
}
#u2166_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:219px;
  word-wrap:break-word;
}
#u2167_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:30px;
}
#u2167 {
  border-width:0px;
  position:absolute;
  left:223px;
  top:453px;
  width:302px;
  height:30px;
  font-size:14px;
}
#u2167_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:298px;
  word-wrap:break-word;
}
#u2168_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:30px;
}
#u2168 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:483px;
  width:223px;
  height:30px;
  font-size:14px;
}
#u2168_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:219px;
  word-wrap:break-word;
}
#u2169_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:30px;
}
#u2169 {
  border-width:0px;
  position:absolute;
  left:223px;
  top:483px;
  width:302px;
  height:30px;
  font-size:14px;
}
#u2169_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:298px;
  word-wrap:break-word;
}
#u2170_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:30px;
}
#u2170 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:513px;
  width:223px;
  height:30px;
  font-size:14px;
}
#u2170_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:219px;
  word-wrap:break-word;
}
#u2171_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:30px;
}
#u2171 {
  border-width:0px;
  position:absolute;
  left:223px;
  top:513px;
  width:302px;
  height:30px;
  font-size:14px;
}
#u2171_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:298px;
  word-wrap:break-word;
}
#u2172_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:30px;
}
#u2172 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:543px;
  width:223px;
  height:30px;
  font-size:14px;
}
#u2172_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:219px;
  word-wrap:break-word;
}
#u2173_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:30px;
}
#u2173 {
  border-width:0px;
  position:absolute;
  left:223px;
  top:543px;
  width:302px;
  height:30px;
  font-size:14px;
}
#u2173_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:298px;
  word-wrap:break-word;
}
#u2174_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:30px;
}
#u2174 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:573px;
  width:223px;
  height:30px;
  font-size:14px;
}
#u2174_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:219px;
  word-wrap:break-word;
}
#u2175_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:30px;
}
#u2175 {
  border-width:0px;
  position:absolute;
  left:223px;
  top:573px;
  width:302px;
  height:30px;
  font-size:14px;
}
#u2175_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:298px;
  word-wrap:break-word;
}
#u2176_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:30px;
}
#u2176 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:603px;
  width:223px;
  height:30px;
  font-size:14px;
}
#u2176_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:219px;
  word-wrap:break-word;
}
#u2177_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:30px;
}
#u2177 {
  border-width:0px;
  position:absolute;
  left:223px;
  top:603px;
  width:302px;
  height:30px;
  font-size:14px;
}
#u2177_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:298px;
  word-wrap:break-word;
}
#u2178_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:30px;
}
#u2178 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:633px;
  width:223px;
  height:30px;
  font-size:14px;
}
#u2178_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:219px;
  word-wrap:break-word;
}
#u2179_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:30px;
}
#u2179 {
  border-width:0px;
  position:absolute;
  left:223px;
  top:633px;
  width:302px;
  height:30px;
  font-size:14px;
}
#u2179_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:298px;
  word-wrap:break-word;
}
#u2180_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:30px;
}
#u2180 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:663px;
  width:223px;
  height:30px;
  font-size:14px;
}
#u2180_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:219px;
  word-wrap:break-word;
}
#u2181_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:30px;
}
#u2181 {
  border-width:0px;
  position:absolute;
  left:223px;
  top:663px;
  width:302px;
  height:30px;
  font-size:14px;
}
#u2181_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:298px;
  word-wrap:break-word;
}
#u2182_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:30px;
}
#u2182 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:693px;
  width:223px;
  height:30px;
  font-size:14px;
}
#u2182_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:219px;
  word-wrap:break-word;
}
#u2183_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:30px;
}
#u2183 {
  border-width:0px;
  position:absolute;
  left:223px;
  top:693px;
  width:302px;
  height:30px;
  font-size:14px;
}
#u2183_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:298px;
  word-wrap:break-word;
}
#u2184_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:30px;
}
#u2184 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:723px;
  width:223px;
  height:30px;
  font-size:14px;
}
#u2184_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:219px;
  word-wrap:break-word;
}
#u2185_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:30px;
}
#u2185 {
  border-width:0px;
  position:absolute;
  left:223px;
  top:723px;
  width:302px;
  height:30px;
  font-size:14px;
}
#u2185_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:298px;
  word-wrap:break-word;
}
#u2186_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:30px;
}
#u2186 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:753px;
  width:223px;
  height:30px;
  font-size:14px;
}
#u2186_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:219px;
  word-wrap:break-word;
}
#u2187_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:30px;
}
#u2187 {
  border-width:0px;
  position:absolute;
  left:223px;
  top:753px;
  width:302px;
  height:30px;
  font-size:14px;
}
#u2187_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:298px;
  word-wrap:break-word;
}
#u2188_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:30px;
}
#u2188 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:783px;
  width:223px;
  height:30px;
  font-size:14px;
}
#u2188_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:219px;
  word-wrap:break-word;
}
#u2189_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:30px;
}
#u2189 {
  border-width:0px;
  position:absolute;
  left:223px;
  top:783px;
  width:302px;
  height:30px;
  font-size:14px;
}
#u2189_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:298px;
  word-wrap:break-word;
}
#u2190_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:30px;
}
#u2190 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:813px;
  width:223px;
  height:30px;
  font-size:14px;
}
#u2190_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:219px;
  word-wrap:break-word;
}
#u2191_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:30px;
}
#u2191 {
  border-width:0px;
  position:absolute;
  left:223px;
  top:813px;
  width:302px;
  height:30px;
  font-size:14px;
}
#u2191_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:298px;
  word-wrap:break-word;
}
#u2192_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:30px;
}
#u2192 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:843px;
  width:223px;
  height:30px;
  font-size:14px;
}
#u2192_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:219px;
  word-wrap:break-word;
}
#u2193_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:30px;
}
#u2193 {
  border-width:0px;
  position:absolute;
  left:223px;
  top:843px;
  width:302px;
  height:30px;
  font-size:14px;
}
#u2193_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:298px;
  word-wrap:break-word;
}
#u2194_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:30px;
}
#u2194 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:873px;
  width:223px;
  height:30px;
  font-size:14px;
}
#u2194_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:219px;
  word-wrap:break-word;
}
#u2195_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:30px;
}
#u2195 {
  border-width:0px;
  position:absolute;
  left:223px;
  top:873px;
  width:302px;
  height:30px;
  font-size:14px;
}
#u2195_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:298px;
  word-wrap:break-word;
}
#u2196_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:30px;
}
#u2196 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:903px;
  width:223px;
  height:30px;
  font-size:14px;
}
#u2196_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:219px;
  word-wrap:break-word;
}
#u2197_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:30px;
}
#u2197 {
  border-width:0px;
  position:absolute;
  left:223px;
  top:903px;
  width:302px;
  height:30px;
  font-size:14px;
}
#u2197_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:298px;
  word-wrap:break-word;
}
#u2198_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:223px;
  height:30px;
}
#u2198 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:933px;
  width:223px;
  height:30px;
  font-size:14px;
}
#u2198_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:219px;
  word-wrap:break-word;
}
#u2199_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:30px;
}
#u2199 {
  border-width:0px;
  position:absolute;
  left:223px;
  top:933px;
  width:302px;
  height:30px;
  font-size:14px;
}
#u2199_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:298px;
  word-wrap:break-word;
}
#u2200_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2200 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:107px;
  width:127px;
  height:16px;
}
#u2200_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
