body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2543px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u606_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u606 {
  border-width:0px;
  position:absolute;
  left:224px;
  top:1132px;
  width:40px;
  height:40px;
  font-size:16px;
  color:#FF3399;
}
#u606_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:36px;
  word-wrap:break-word;
}
#u607_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u607 {
  border-width:0px;
  position:absolute;
  left:274px;
  top:1144px;
  width:183px;
  height:16px;
}
#u607_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  white-space:nowrap;
}
#u608_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u608 {
  border-width:0px;
  position:absolute;
  left:495px;
  top:1112px;
  width:300px;
  height:80px;
  font-size:14px;
}
#u608_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u609_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u609 {
  border-width:0px;
  position:absolute;
  left:467px;
  top:1132px;
  width:10px;
  height:33px;
  font-size:28px;
}
#u609_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  white-space:nowrap;
}
#u610_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u610 {
  border-width:0px;
  position:absolute;
  left:2082px;
  top:212px;
  width:40px;
  height:40px;
  font-size:16px;
  color:#FF3399;
}
#u610_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:36px;
  word-wrap:break-word;
}
#u611_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2543px;
  height:1087px;
}
#u611 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2543px;
  height:1087px;
}
#u611_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u612_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u612 {
  border-width:0px;
  position:absolute;
  left:1725px;
  top:355px;
  width:40px;
  height:40px;
  font-size:16px;
  color:#FF3399;
}
#u612_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:36px;
  word-wrap:break-word;
}
#u613_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u613 {
  border-width:0px;
  position:absolute;
  left:703px;
  top:355px;
  width:40px;
  height:40px;
  font-size:16px;
  color:#FF3399;
}
#u613_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:36px;
  word-wrap:break-word;
}
#u614_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u614 {
  border-width:0px;
  position:absolute;
  left:2492px;
  top:355px;
  width:40px;
  height:40px;
  font-size:16px;
  color:#FF3399;
}
#u614_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:36px;
  word-wrap:break-word;
}
