body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2559px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u594_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2557px;
  height:668px;
}
#u594 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2557px;
  height:668px;
}
#u594_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u595_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u595 {
  border-width:0px;
  position:absolute;
  left:568px;
  top:149px;
  width:40px;
  height:40px;
  font-size:16px;
  color:#FF3399;
}
#u595_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:36px;
  word-wrap:break-word;
}
#u596_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u596 {
  border-width:0px;
  position:absolute;
  left:244px;
  top:308px;
  width:40px;
  height:40px;
  font-size:16px;
  color:#FF3399;
}
#u596_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:36px;
  word-wrap:break-word;
}
#u597_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2559px;
  height:913px;
}
#u597 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:454px;
  width:2559px;
  height:913px;
}
#u597_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u598_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u598 {
  border-width:0px;
  position:absolute;
  left:549px;
  top:400px;
  width:40px;
  height:40px;
  font-size:16px;
  color:#FF3399;
}
#u598_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:36px;
  word-wrap:break-word;
}
#u599_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u599 {
  border-width:0px;
  position:absolute;
  left:599px;
  top:412px;
  width:183px;
  height:16px;
}
#u599_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  white-space:nowrap;
}
#u600_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u600 {
  border-width:0px;
  position:absolute;
  left:881px;
  top:400px;
  width:40px;
  height:40px;
  font-size:16px;
  color:#FF3399;
}
#u600_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:36px;
  word-wrap:break-word;
}
#u601_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u601 {
  border-width:0px;
  position:absolute;
  left:931px;
  top:412px;
  width:169px;
  height:80px;
}
#u601_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u602_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u602 {
  border-width:0px;
  position:absolute;
  left:1664px;
  top:314px;
  width:40px;
  height:40px;
  font-size:16px;
  color:#FF3399;
}
#u602_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:36px;
  word-wrap:break-word;
}
#u603_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u603 {
  border-width:0px;
  position:absolute;
  left:2223px;
  top:725px;
  width:40px;
  height:40px;
  font-size:16px;
  color:#FF3399;
}
#u603_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:36px;
  word-wrap:break-word;
}
#u604_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u604 {
  border-width:0px;
  position:absolute;
  left:1179px;
  top:400px;
  width:40px;
  height:40px;
  font-size:16px;
  color:#FF3399;
}
#u604_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:36px;
  word-wrap:break-word;
}
#u605_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u605 {
  border-width:0px;
  position:absolute;
  left:1229px;
  top:412px;
  width:253px;
  height:64px;
}
#u605_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  white-space:nowrap;
}
